<%- include(`heading`) -%>

<div class="failedlogin">


    <form action="/" method="get" class="failure">

        <h1 class="failh1"> Failed to login </h1>

      <button type="submit" class="failbtn"> Try again </button>
    </form>

</div>



<%- include(`footer`) -%>