<%- include(`heading`) -%>

<div class="homehome">

    <h1 class="wilkam">
        Welcome to LoremTalk 
        <form action="/logout" method="post" class="loglog">
            <button type="submit" class="failbtn"> Logout </button>
        </form>
    </h1>

</div>

<%- include(`footer`) -%>